@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap');
@import 'flowbite';
@import 'leaflet/dist/leaflet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Theme Variables (Fallbacks) */
:root {
  --text-color-light: rgba(8, 8, 8, 0.87);
  --background-color-light: #ffffff;
  --text-color-dark: rgba(255, 255, 255, 0.87);
  --background-color-dark: #000000;

  font-family: 'Space Grotesk', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Light Mode */
html.light {
  --text-color: var(--text-color-light);
  --background-color: var(--background-color-light);
}

html.light body {
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Dark Mode */
html.dark {
  --text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
}

html.dark body {
  color: var(--text-color);
  background-color: var(--background-color);
}

/* General Body Settings */
body {
  overflow-y: auto;
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Links */
a {
  font-weight: 500;
  text-decoration: inherit;
}

/* Link hover effects */
nav a:hover {
  color: #2ecc40;
}

/* Headings */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Other specific components */
.content-container {
  margin-top: 80px;
  padding-left: 20vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

.view-analytics-container {
  margin-top: 80vh;
  z-index: 2;
}

.custom-border::before {
  content: '';
  position: absolute;
  top: 8%;
  right: 0;
  bottom: 2%;
  width: 1px;
  background-color: rgba(107, 114, 128, 0.25);
}

/* Dropdowns */
.dropdowns {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: #4a5568;
  cursor: pointer;
  background-color: #f7fafc;
}

/* Dark mode for dropdowns */
.dark .dropdowns {
  background-color: #2d3748;
  color: #e2e8f0;
}

/* Dropdown hover styles */
.dropdowns:hover {
  background-color: #ffffff;
  color: #1a202c;
}

/* Dark mode hover styles */
.dark .dropdowns:hover {
  background-color: #4a5568;
  color: #f7fafc;
}

/* Dark Mode Media Query */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgba(255, 255, 255, 0.87);
    --background-color: #242424;
  }
  body {
    color: var(--text-color);
    background-color: var(--background-color);
  }
  nav a:hover {
    color: #2ecc40;
  }
}

/* Light Mode Media Query */
@media (prefers-color-scheme: light) {
  :root {
    --text-color: rgba(8, 8, 8, 0.87);
    --background-color: #ffffff;
  }
  body {
    color: var(--text-color);
    background-color: var(--background-color);
  }
  nav a:hover {
    color: #2ecc40;
  }
}
